{% extends 'user/profile-base.html' %}
{% load static %}


{% block title %}
    الطلبات
{% endblock title %}


{% block section_title %}
    الطلبات
{% endblock section_title %}
    


{% block section_content %}
<!-- <h3>هنا تظهر طلبات المستخدم</h3> -->

<style>
    .products {
        width: 100% !important;
        display: flex; 
        flex-wrap: wrap;
        gap: 1rem; 
        justify-content: center;
    }
    .products img {
        width: 200px; 
    }
</style>
<div class="container">

<section class="products mt-3">
    {% for order in orders %}
    <div class="product">
        <div class="image">
            <img src="{% static 'images/05.png' %}" alt="">
        </div>
        <div class="info">
            <h3>{{order.number}}</h3>
            <h4>{{order.get_status_display}}</h4>
            <!-- <div class="evaluation">
                <li><i class="fa-solid fa-star"></i></li>
                <span>4.9</span>
            </div> -->
            <br>
            <a href="{% url 'order:show-order' order.number %}" class="btn btn-outline">
                <!-- <li><i class="fa-solid fa-basket-shopping"></i></li> -->
                تفاصيل الطلب
            </a>
        </div>
    </div>
    {% endfor %}
</section>
    

{% endblock section_content %}
    