{% extends 'base.html' %}

{% block title %}
    تم الطلب بنجاح
{% endblock title %}
    


{% block content %}

<style>
    center * {
        margin-bottom: 1rem ;
    }
    .content-wrapper { 
        min-height: 600px !important;
    }
</style>

<section>
    <div class="container mt-2">  
         <center>
            <h2>تم إرسال الطلب بنجاح</h2>
            <p>سيقوم فريقنا بمراجعة طلبك في أقرب وقت</p>
            <a href="{% url 'page:index' %}" class="btn btn-dark">العودة للصفحة الرئيسية</a>
         </center>
    </div>
</section>
{% endblock content %}
    